[submodule "base/src/binutils-gdb"]
	path = base/src/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "base/src/gcc"]
	path = base/src/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "base/src/hummingbird"]
	path = base/src/hummingbird
	url = https://github.com/Sweets/hummingbird
[submodule "base/src/linux"]
	path = base/src/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "base/src/mdevd"]
	path = base/src/mdevd
	url = git://git.skarnet.org/mdevd
[submodule "base/src/musl"]
	path = base/src/musl
	url = git://git.musl-libc.org/musl
[submodule "base/src/oksh"]
	path = base/src/oksh
	url = https://github.com/ibara/oksh
[submodule "base/src/skalibs"]
	path = base/src/skalibs
	url = git://git.skarnet.org/skalibs
[submodule "base/src/toybox"]
	path = base/src/toybox
	url = https://landley.net/toybox/git
[submodule "base/src/ndhc"]
	path = base/src/ndhc
	url = https://github.com/niklata/ndhc
[submodule "base/src/chrony"]
	path = base/src/chrony
	url = https://gitlab.com/chrony/chrony
[submodule "base/src/awk"]
	path = base/src/awk
	url = https://github.com/onetrueawk/awk
[submodule "base/src/byacc"]
	path = base/src/byacc
	url = https://github.com/ThomasDickey/byacc-snapshots
[submodule "base/src/m4"]
	path = base/src/m4
	url = https://https.git.savannah.gnu.org/git/m4.git
[submodule "base/src/gnulib"]
	path = base/src/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "base/src/make"]
	path = base/src/make
	url = https://https.git.savannah.gnu.org/git/make.git
[submodule "base/src/xz"]
	path = base/src/xz
	url = https://github.com/tukaani-project/xz
[submodule "base/src/bc"]
	path = base/src/bc
	url = https://github.com/gavinhoward/bc
[submodule "base/src/heirloom-devtools"]
	path = base/src/heirloom-devtools
	url = https://github.com/heirloom-project/heirloom-devtools
[submodule "base/src/mpfr"]
	path = base/src/mpfr
	url = https://gitlab.inria.fr/mpfr/mpfr
[submodule "base/src/mpc"]
	path = base/src/mpc
	url = https://gitlab.inria.fr/mpc/mpc
[submodule "base/src/mpir"]
	path = base/src/mpir
	url = https://github.com/BrianGladman/mpir
[submodule "base/src/heirloom-toolchest"]
	path = base/src/heirloom-toolchest
	url = https://github.com/heirloom-project/heirloom-toolchest
