[submodule "base/src/binutils-gdb"]
	path = base/src/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "base/src/gcc"]
	path = base/src/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "base/src/hummingbird"]
	path = base/src/hummingbird
	url = https://github.com/Sweets/hummingbird
[submodule "base/src/linux"]
	path = base/src/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "base/src/mdevd"]
	path = base/src/mdevd
	url = git://git.skarnet.org/mdevd
[submodule "base/src/musl"]
	path = base/src/musl
	url = git://git.musl-libc.org/musl
[submodule "base/src/skalibs"]
	path = base/src/skalibs
	url = git://git.skarnet.org/skalibs
[submodule "base/src/toybox"]
	path = base/src/toybox
	url = https://landley.net/toybox/git
[submodule "base/src/ndhc"]
	path = base/src/ndhc
	url = https://github.com/niklata/ndhc
[submodule "base/src/chrony"]
	path = base/src/chrony
	url = https://gitlab.com/chrony/chrony
[submodule "base/src/awk"]
	path = base/src/awk
	url = https://github.com/onetrueawk/awk
[submodule "base/src/byacc"]
	path = base/src/byacc
	url = https://github.com/ThomasDickey/byacc-snapshots
[submodule "base/src/m4"]
	path = base/src/m4
	url = https://https.git.savannah.gnu.org/git/m4.git
[submodule "base/src/gnulib"]
	path = base/src/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "base/src/make"]
	path = base/src/make
	url = https://https.git.savannah.gnu.org/git/make.git
[submodule "base/src/xz"]
	path = base/src/xz
	url = https://github.com/tukaani-project/xz
[submodule "base/src/bc"]
	path = base/src/bc
	url = https://github.com/gavinhoward/bc
[submodule "base/src/mpfr"]
	path = base/src/mpfr
	url = https://gitlab.inria.fr/mpfr/mpfr
[submodule "base/src/mpc"]
	path = base/src/mpc
	url = https://gitlab.inria.fr/mpc/mpc
[submodule "base/src/heirloom-toolchest"]
	path = base/src/heirloom-toolchest
	url = https://github.com/heirloom-project/heirloom-toolchest
[submodule "base/src/perl"]
	path = base/src/perl
	url = https://github.com/perl/perl5
[submodule "base/src/perl-cross"]
	path = base/src/perl-cross
	url = https://github.com/arsv/perl-cross
[submodule "base/src/autoconf"]
	path = base/src/autoconf
	url = https://https.git.savannah.gnu.org/git/autoconf.git
[submodule "base/src/automake"]
	path = base/src/automake
	url = https://https.git.savannah.gnu.org/git/automake.git
[submodule "base/src/slibtool"]
	path = base/src/slibtool
	url = https://git.foss21.org/slibtool
[submodule "base/src/git"]
	path = base/src/git
	url = https://github.com/git/git
[submodule "base/src/libz"]
	path = base/src/libz
	url = https://gitlab.com/sortix/libz
[submodule "base/src/flex"]
	path = base/src/flex
	url = https://github.com/westes/flex
[submodule "base/src/gmp"]
	path = base/src/gmp
	url = https://github.com/gmp-mirror/gmp-6.3
[submodule "base/src/tomlc17"]
	path = base/src/tomlc17
	url = https://github.com/cktan/tomlc17
[submodule "base/src/lua"]
	path = base/src/lua
	url = https://github.com/lua/lua
[submodule "base/src/luadate"]
	path = base/src/luadate
	url = https://github.com/Tieske/date
[submodule "base/src/liquid-lua"]
	path = base/src/liquid-lua
	url = https://github.com/3scale/liquid-lua
[submodule "base/src/zsh"]
	path = base/src/zsh
	url = https://git.code.sf.net/p/zsh/code
[submodule "base/src/netbsd-curses"]
	path = base/src/netbsd-curses
	url = https://github.com/sabotage-linux/netbsd-curses
[submodule "base/src/libelf"]
	path = base/src/libelf
	url = https://github.com/arachsys/libelf
